<div class="product-reviews">
    <div class="product-reviews-wrapper">
    <% @comments.each do |comment| %>
        <div class="comment">
            <hr>
            <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
            <div class="rated" data-score="<%= comment.rating %>"><%= "Rating: #{comment.rating}/5" %></div>
            <p><%= comment.body %></p>
        </div>
    <% end %>
  </div>
   <%= will_paginate @comments %>
</div>