<p id="notice"><%= notice %></p>
<% cache @product do %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p> 
  <strong>Comments:</strong>
  <%= @product.comments %>
</p>

<p><strong>Average Rating</strong>: <div class="rated" id="#average-rating" data-score="<%= @product.average_rating %>"></div> </p>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>
<%= image_tag(@product.image_url, width: "350", class: "img-zoom") %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

